# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Docker
*.env
docker-compose.override.yml

# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp

# Miscellaneous
*.bak
*.tmp
